.search-form {
    margin-top: 25px;
    padding: 25px;

    input {
        border: 0;
        border-bottom: 1px solid $gray-400;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: $gray-400;
    }

    .btn-search {
        &:hover {
            border: 1px solid $gray-400;
        }
    }
}